.mission-container {
  display: flex;
  background-color: lightgray;
  width: 70%;
  height: 100px;
  margin: 30px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.waiting-container {
  display: flex;
  background-color: lightgray;
  width: 70%;
  height: 100px;
  margin: 80px;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.change-container {
  height: 20px;
  width: 200px;
  border: none;
  display: flex;
  align-items: center;
  margin-left: 70%;
  float: right;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.changeButton {
  border: none;
  background-color: white;
  width: 20px;
  height: 20px;
}

.question {
  width: 71%;
  margin-bottom: 5px;
}
